body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}

.button-login {
  background-color: rgb(101, 132, 196);
  border: 1px solid rgb(71, 94, 139);
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

.facebook-login {
  align-items: center;
  display: flex;
  float: right;
  height: 82px;
}

.facebook-logo {
  float: left;
}

.form-control {
  align-self: flex-end;
  display: flex;
  flex-flow: column;
  height: 82px;
  justify-content: center;
  margin-right: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.gender {
  display: flex;
}

.header-content {
  height: 82px;
  width: 1100px;
}

.left-content {
  align-items: center;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
}

.left-content p {
  padding: 50px;
}

.main-content {
  display: flex;
  height: 700px;
  justify-content: center;
}

.name {
  display: flex;
}

.right-content {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.right-content input {
  width: 99%;
}

.top-bar {
  align-items: center;
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 82px;
  justify-content: center;
  width: 100vw;
}
