body {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-control {
  align-self: flex-end;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.left-content {
  width: 800px;
}

.right-content {
  flex-direction: column;
  width: 300px;
}

.quick-easy {
  color: black;
  width: 300px;
}

.nome {
  display: flex;
}

.birthdate {
  display: flex;
  flex-direction: column;
}

.radioGender {
  display: flex;
}
