body {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-around;
}

.facebook-login {
  display: flex;
}

.facebook-login-input {
  padding-top: 10px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  display: flex;
  flex-direction: column;
  color: aliceblue;
}

input {
  margin-top: 10px;
}

.linkSenha {
  text-decoration:none;
  color: aliceblue;
}

.facebook-logo {
  padding-top: 17px;
  width: 170px;
}
