.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-login {
  align-items: baseline;
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 800px;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form-sign {
  display: flex;
  flex-direction: row;
}

.form-birthday {
  display: flex;
  flex-direction: column;  
}
