header , body , img , form , input , button , footer , div , p , span , h1 , h2 , h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

label , section , main , a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */
.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  padding: 7px calc(calc(100% - 1100px) / 2) 18px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1100px;
}

input {
  width: 100%;
}

.facebook-login {
  align-items: center;
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
  position: relative;
}

.form-group small {
  bottom: -14px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60%;
  font-weight: 500;
  left: 2px;
  position: absolute;
}

.form-group small:hover {
  cursor: pointer;
  text-decoration: underline;
}

.form-group label {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
}

.form-group input {
  padding: 2px;
}

input:focus {
  outline: 1px solid rgb(66, 103, 178);
}

.form-control button {
  background-color: rgb(66, 97, 161);
  border: 1px solid rgb(24, 3, 94);
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  margin: 0 0 1.5px 3.5px;
  padding: 2px;
}

.form-control {
  align-self: flex-end;
}

/* MAIN */
.main-container {
  background: linear-gradient(white, rgb(136, 167, 183));
  min-height: 70vh;
  width: 100%;
}

.main-content {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  width: 1100px;
}

/* IMG+TEXT */
.left-content {
  left: 0;
  order: 1;
  position: absolute;
  width: 800px;
}

.left-content p {
  color: rgb(66, 103, 178);
  font-size: 20px;
  font-weight: 700;
  width: 410px;
}

/* SIGNUP FORM */
.right-content {
  font-family: Arial, Helvetica, sans-serif;
  order: 2;
  position: absolute;
  right: 80px;
  width: 300px;
}

.open-acc {
  margin-bottom: 10px;
}

.quick-easy {
  margin-bottom: 10px;
}

.signup-form {
  width: 360px;
}

.signup-form input {
  border: 1px solid grey;
  border-radius: 2px;
  margin-bottom: 8px;
  padding: 8px;
}

.form-name input + input {
  margin-left: 8px;
}

.form-name {
  display: flex;
}

.signup-form label {
  color: grey;
  display: block;
  font-size: 90%;
  font-weight: 700;
  margin: 10px 0;
}

.input-group + label {
  margin-bottom: 0;
}

.radio-input-container {
  align-items: center;
  display: flex;
}

.signup-form .radio-input-container input {
  margin: 0;
  padding: 0;
}

.radio-input-container label {
  color: black;
  font-weight: 400;
}

.signup-form button {
  background-color: rgb(36, 116, 36);
  border: 0;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  margin-top: 10px;
  padding: 8px;
  width: 180px;
}

.create-page {
  color: grey;
  font-size: 77%;
  font-weight: 600;
  margin-top: 20px;
}

.create-page a {
  color: blue;
  text-decoration: none;
}

/* FOOTER */
footer {
  background-color: white;
  height: 25vh;
  width: 100%;
}

.footer-content {
  font-size: 90%;
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 10px;
}

.footer-content a {
  color: rgb(6, 6, 129);
  font-weight: 500;
  margin-right: 6px;
  text-decoration: none;
}

.page-language {
  font-size: 12px;
}

.page-language button {
  padding: 0 6px;
}

.page-options a {
  display: inline-block;
  margin-right: 12px;
  padding: 2px 0;
}

.page-language a:first-child {
  color: grey;
  font-weight: 700;
}

hr {
  border: 1px solid rgb(212, 208, 208);
}

.page-options {
  margin-bottom: 6px;
}

.copyright p {
  color: grey;
  font-size: 85%;
  font-weight: 700;
}

/* JS ADDED ELEMENTS */
.error-msg {
  bottom: 40px;
  color: red;
  font-weight: 700;
  position: absolute;
  right: -40px;
}

.heyJoe {
  font-weight: 700;
  margin-top: 50%;
  text-align: center;
}