body {
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-around;
}

.facebook-login {
  display: flex;
  float: right;
}

.facebook-logo {
  float: left;
  margin-top: 15px;
  width: 170px;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  justify-content: flex-start;
  margin: 10 10px;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-top: 10px;
}

.form-group:last-child {
  justify-content: center;
}

.form-group button {
  background-color: rgb(66, 103, 178);
  border: 1px solid rgb(41, 72, 125);
  border-radius: 2px;
  color: white;
}

.form-control {
  align-self: center;
  margin-bottom: 8px;
  margin-left: 10px;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
  flex-direction: column;
}

.quick-easy {
  color: black;
}

.nome {
  display: flex;
}

.birthdate {
  display: flex;
  flex-direction: column;
}
