body {
  background-image: linear-gradient(white, rgb(211, 216, 232));
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 760px;
  margin: 0;
}

h1 {
  color: rgb(51, 51, 51);
  font-size: 36px;
  font-weight: 600;
  line-height: 48.24px;
  margin-bottom: 0;
}

.quick-easy {
  color: rgb(29, 33, 41);
  font-size: 19px;
  font-weight: 400;
  line-height: 25.46px;
  margin-top: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 82px;
  justify-content: space-between;
  width: 100%;
}

.facebook-logo {
  cursor: pointer;
  height: 80px;
  width: 190px;
}

.email {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
}

.senha {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
}

.input-header {
  border: 1px solid;
  border-color: #ccd0d5;
  height: 20px;
  width: 142px;
}

.facebook-login {
  display: flex;
}

.button-login {
  background-color: rgb(66, 103, 178);
  border: 1px solid rgb(41, 72, 125);
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  padding: 2px 6px;
}

.form-group {
  color: white;
  display: flex;
  flex-direction: column;
  float: right;
  justify-content: center;
  margin-left: 10px;
}

.form-control {
  align-self: flex-end;
  margin-left: 10px;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-content {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  width: 800px;
}

.left-content p {
  color: #0e385f;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}

.left-content img {
  height: 195px;
  width: 537px;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}

.nome-sobrenome {
  display: flex;
}

.nome-sobrenome input {
  border: solid 1px rgb(189, 199, 216);
  border-color: rgb(189, 199, 216);
  border-radius: 5px;
  color: rgb(28, 30, 33);
  font-size: 18px;
  height: 25px;
  padding: 5px;
  width: 140px;
}

.nome-sobrenome .lastname {
  margin-left: 7px;
}


.form-right-content {
  display: flex;
  flex-direction: column;
}

.input-right-content {
  border: solid 1px rgb(189, 199, 216);
  border-color: rgb(189, 199, 216);
  border-radius: 5px;
  color: rgb(28, 30, 33);
  font-size: 18px;
  height: 25px;
  margin-top: 7px;
  padding: 5px;
  width: 300px;
}

.data-nascimento {
  width: 180px;
}

.gender {
  align-items: center;
  display: flex;
  margin-bottom: 7px;
}

.label-gender {
  margin-bottom: 15px;
}

.gender-choices {
  color: #1d2129;
  font-size: 14.5px;
  padding: 0 10px 0 3px;
}

.labelcinza {
  color: rgb(144, 148, 156);
  font-size: 16px;
  font-weight: 700;
  height: 21px;
  line-height: 21.44px;
  margin-top: 20px;
}

.right-content button {
  background: linear-gradient(#67ae55, #578843);
  border: 1px solid;
  border-color: rgb(44, 81, 21);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font: 700 17.5px Arial, Helvetica, sans-serif;
  line-height: 23.94px;
  margin: 10px 0 0 10px;
  padding: 7px 20px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  width: 194px;
}

.termos {
  color: #777;
  font-size: 11px;
  width: 316px;
}

a {
  color: rgb(56, 88, 152);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
